/* sprite sheet of avatars */

.sprites { 
    background-image     : url(../images/avatars.jpg); 
    background-color     : transparent; 
    background-repeat    : no-repeat; 
} 
 
.avatar1 {
    height               : 82px; 
    width                : 82px; 
    background-position  : -0px -0px; 
} 
 
.avatar2 {
    height               : 82px; 
    width                : 82px; 
    background-position  : -82px -0px; 
} 
 
.avatar3 {
    height               : 82px; 
    width                : 82px; 
    background-position  : -164px -0px; 
} 
 
.avatar4 {
    height               : 82px; 
    width                : 82px; 
    background-position  : -246px -0px; 
} 
 
.avatar5 {
    height               : 82px; 
    width                : 82px; 
    background-position  : -328px -0px; 
} 
 
.avatar6 {
    height               : 82px; 
    width                : 82px; 
    background-position  : -410px -0px; 
} 
 
.avatar7 {
    height               : 82px; 
    width                : 82px; 
    background-position  : -492px -0px; 
} 
 
.avatar8 {
    height               : 82px; 
    width                : 82px; 
    background-position  : -574px -0px; 
} 
 
.avatar9 {
    height               : 82px; 
    width                : 82px; 
    background-position  : -656px -0px; 
} 
 
.avatar10 {
    height               : 82px; 
    width                : 82px; 
    background-position  : -738px -0px; 
} 
 
.avatar11 {
    height               : 82px; 
    width                : 82px; 
    background-position  : -820px -0px; 
} 
 
.avatar12 {
    height               : 82px; 
    width                : 82px; 
    background-position  : -902px -0px; 
} 
 
.avatar13 {
    height               : 82px; 
    width                : 82px; 
    background-position  : -984px -0px; 
} 
 
.avatar14 {
    height               : 82px; 
    width                : 82px; 
    background-position  : -1066px -0px; 
} 
 
.avatar15 {
    height               : 82px; 
    width                : 82px; 
    background-position  : -1148px -0px; 
} 
 
.avatar16 {
    height               : 82px; 
    width                : 82px; 
    background-position  : -1230px -0px; 
} 
 
.avatar17 {
    height               : 82px; 
    width                : 82px; 
    background-position  : -1312px -0px; 
} 
 
.avatar18 {
    height               : 82px; 
    width                : 82px; 
    background-position  : -1394px -0px; 
} 
 
.avatar19 {
    height               : 82px; 
    width                : 82px; 
    background-position  : -1476px -0px; 
} 
 
.avatar20 {
    height               : 82px; 
    width                : 82px; 
    background-position  : -1558px -0px; 
} 
 
.avatar21 {
    height               : 82px; 
    width                : 82px; 
    background-position  : -1640px -0px; 
} 
 
.avatar22 {
    height               : 82px; 
    width                : 82px; 
    background-position  : -1722px -0px; 
} 
 
.avatar23 {
    height               : 82px; 
    width                : 82px; 
    background-position  : -1804px -0px; 
} 
 
.avatar24 {
    height               : 82px; 
    width                : 82px; 
    background-position  : -1886px -0px; 
} 
 
.avatar25 {
    height               : 82px; 
    width                : 82px; 
    background-position  : -1968px -0px; 
} 
 
.avatar26 {
    height               : 82px; 
    width                : 82px; 
    background-position  : -2050px -0px; 
} 
 
.avatar27 {
    height               : 82px; 
    width                : 82px; 
    background-position  : -2132px -0px; 
} 
 
.avatar28 {
    height               : 82px; 
    width                : 82px; 
    background-position  : -2214px -0px; 
} 
 
.avatar29 {
    height               : 82px; 
    width                : 82px; 
    background-position  : -2296px -0px; 
} 
 
.avatar30 {
    height               : 82px; 
    width                : 82px; 
    background-position  : -2378px -0px; 
} 
 
.avatar31 {
    height               : 82px; 
    width                : 82px; 
    background-position  : -2460px -0px; 
} 
 
.avatar32 {
    height               : 82px; 
    width                : 82px; 
    background-position  : -2542px -0px; 
} 
 
.avatar33 {
    height               : 82px; 
    width                : 82px; 
    background-position  : -2624px -0px; 
} 
 
.avatar34 {
    height               : 82px; 
    width                : 82px; 
    background-position  : -2706px -0px; 
} 
 
.avatar35 {
    height               : 82px; 
    width                : 82px; 
    background-position  : -2788px -0px; 
} 
 
.avatar36 {
    height               : 82px; 
    width                : 82px; 
    background-position  : -2870px -0px; 
} 
 
.avatar37 {
    height               : 82px; 
    width                : 82px; 
    background-position  : -2952px -0px; 
} 
 
.avatar38 {
    height               : 82px; 
    width                : 82px; 
    background-position  : -3034px -0px; 
} 
 
.avatar39 {
    height               : 82px; 
    width                : 82px; 
    background-position  : -3116px -0px; 
} 
 
.avatar40 {
    height               : 82px; 
    width                : 82px; 
    background-position  : -3198px -0px; 
} 
 
.avatar41 {
    height               : 82px; 
    width                : 82px; 
    background-position  : -3280px -0px; 
} 
 
.avatar42 {
    height               : 82px; 
    width                : 82px; 
    background-position  : -3362px -0px; 
} 
 
.avatar43 {
    height               : 82px; 
    width                : 82px; 
    background-position  : -3444px -0px; 
} 
 
.avatar44 {
    height               : 82px; 
    width                : 82px; 
    background-position  : -3526px -0px; 
} 
 
.avatar45 {
    height               : 82px; 
    width                : 82px; 
    background-position  : -3608px -0px; 
} 
 
.avatar46 {
    height               : 82px; 
    width                : 82px; 
    background-position  : -3690px -0px; 
} 
 
.avatar47 {
    height               : 82px; 
    width                : 82px; 
    background-position  : -3772px -0px; 
} 
 
.avatar48 {
    height               : 82px; 
    width                : 82px; 
    background-position  : -3854px -0px; 
} 
 
.avatar49 {
    height               : 82px; 
    width                : 82px; 
    background-position  : -3936px -0px; 
} 
 
.avatar50 {
    height               : 82px; 
    width                : 82px; 
    background-position  : -4018px -0px; 
} 
 
.avatar51 {
    height               : 82px; 
    width                : 82px; 
    background-position  : -4100px -0px; 
} 
 
.avatar52 {
    height               : 82px; 
    width                : 82px; 
    background-position  : -4182px -0px; 
} 
 
.avatar53 {
    height               : 82px; 
    width                : 82px; 
    background-position  : -4264px -0px; 
} 
 
.avatar54 {
    height               : 82px; 
    width                : 82px; 
    background-position  : -4346px -0px; 
} 
 
.avatar55 {
    height               : 82px; 
    width                : 82px; 
    background-position  : -4428px -0px; 
} 
 
.avatar56 {
    height               : 82px; 
    width                : 82px; 
    background-position  : -4510px -0px; 
} 
 
.avatar57 {
    height               : 82px; 
    width                : 82px; 
    background-position  : -4592px -0px; 
} 
 
.avatar58 {
    height               : 82px; 
    width                : 82px; 
    background-position  : -4674px -0px; 
} 
 
.avatar59 {
    height               : 82px; 
    width                : 82px; 
    background-position  : -4756px -0px; 
} 
 
.avatar60 {
    height               : 82px; 
    width                : 82px; 
    background-position  : -4838px -0px; 
} 
 
.avatar61 {
    height               : 82px; 
    width                : 82px; 
    background-position  : -4920px -0px; 
} 
 
.avatar62 {
    height               : 82px; 
    width                : 82px; 
    background-position  : -5002px -0px; 
} 
 
.avatar63 {
    height               : 82px; 
    width                : 82px; 
    background-position  : -5084px -0px; 
} 
 
